.ti-repeater-fields-wrapper {
	text-align: center;
	.ti-repeater-fields {
		margin-bottom: 5px;
		.ti-repeater-control {
			display: flex;
			background: #f0f0f0;
			border: 1px solid #f0f0f0;
			padding: 10px;
			&__left {
				flex-basis: 90%;
				text-align: left;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			&__right {
			}
			.btn-ti-repeater {
				font-size: 14px;
				line-height: 16px;
				padding: 0;
				margin-left: 5px;
				border: 0;
				border-radius: 4px;
				cursor: pointer;
				outline: none;
			}
		}
		.ti-repeater-toggle-body {
			display: none;
			padding: 10px;
			text-align: left;
			border: 1px solid #f0f0f0;
			.components-base-control {
				margin-bottom: 10px;
			}
			&.ti-toggle-open {
				display: block;
			}
		}
	}
	.ti-repeater-btn-add {
		background: #007cba;
		padding: 10px 15px;
		border: 0;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		outline: none;
		&:focus {
			outline: none;
		}
	}
	.ti-group-control {
		display: flex;
		column-gap: 5px;
	}
	.components-radio-control {
		.components-base-control__label {
			display: block !important;
		}
		&__option {
			display: inline-block !important;
			margin: 0 5px;
		}
	}
	.ti-location-search {
		position: relative;
		display: flex;
		align-items: center;
		.components-base-control {
			margin-bottom: 0 !important;
			flex-grow: 1;
			&__field {
				margin-bottom: 0 !important;
			}
		}
		.components-button {
			height: 30px;
		}
		ul.ti-location-search-results {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			border: 1px solid #e0e0e0;
			background: #fff;
			margin: 0;
			li {
				border-bottom: 1px solid #e0e0e0;
				padding: 5px 10px;
				cursor: pointer;
				margin-bottom: 0 !important;
				transition: all 0.3s ease;
				&:hover {
					background: #e0e0e0;
				}
				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}
